<?xml version="1.0"?>
<Devices>
<Device>
<TerminalNo>
1
</TerminalNo>
<NeighbourSmall>
0
</NeighbourSmall>
<NeighbourBig>
3
</NeighbourBig>
<Is4G>
true
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
3
</TerminalNo>
<NeighbourSmall>
1
</NeighbourSmall>
<NeighbourBig>
5
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
5
</TerminalNo>
<NeighbourSmall>
3
</NeighbourSmall>
<NeighbourBig>
7
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
7
</TerminalNo>
<NeighbourSmall>
5
</NeighbourSmall>
<NeighbourBig>
9
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
9
</TerminalNo>
<NeighbourSmall>
7
</NeighbourSmall>
<NeighbourBig>
10
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
10
</TerminalNo>
<NeighbourSmall>
9
</NeighbourSmall>
<NeighbourBig>
11
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
11
</TerminalNo>
<NeighbourSmall>
10
</NeighbourSmall>
<NeighbourBig>
12
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
12
</TerminalNo>
<NeighbourSmall>
11
</NeighbourSmall>
<NeighbourBig>
13
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
13
</TerminalNo>
<NeighbourSmall>
12
</NeighbourSmall>
<NeighbourBig>
14
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
14
</TerminalNo>
<NeighbourSmall>
13
</NeighbourSmall>
<NeighbourBig>
15
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
15
</TerminalNo>
<NeighbourSmall>
14
</NeighbourSmall>
<NeighbourBig>
16
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
16
</TerminalNo>
<NeighbourSmall>
15
</NeighbourSmall>
<NeighbourBig>
17
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
17
</TerminalNo>
<NeighbourSmall>
16
</NeighbourSmall>
<NeighbourBig>
18
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
18
</TerminalNo>
<NeighbourSmall>
17
</NeighbourSmall>
<NeighbourBig>
19
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
19
</TerminalNo>
<NeighbourSmall>
18
</NeighbourSmall>
<NeighbourBig>
20
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
20
</TerminalNo>
<NeighbourSmall>
19
</NeighbourSmall>
<NeighbourBig>
21
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
21
</TerminalNo>
<NeighbourSmall>
20
</NeighbourSmall>
<NeighbourBig>
22
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
22
</TerminalNo>
<NeighbourSmall>
21
</NeighbourSmall>
<NeighbourBig>
23
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
23
</TerminalNo>
<NeighbourSmall>
22
</NeighbourSmall>
<NeighbourBig>
24
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
24
</TerminalNo>
<NeighbourSmall>
23
</NeighbourSmall>
<NeighbourBig>
26
</NeighbourBig>
<Is4G>
false
</Is4G>
<IsEnd>
false
</IsEnd>
</Device>
<Device>
<TerminalNo>
26
</TerminalNo>
<NeighbourSmall>
24
</NeighbourSmall>
<NeighbourBig>
ff
</NeighbourBig>
<Is4G>
true
</Is4G>
<IsEnd>
true
</IsEnd>
</Device>
</Devices>